header {
    background-color: $blue;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 $dark-blue;
    ul {
        padding-inline-start:0;
    }
    li {
        margin: 20px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        color: $light-green;
        text-decoration: none;
        font-size: 19px;
        font-weight: 500;
        transition: all 0.3s ease-in;

        &:hover {
            text-shadow: 1px 7px 9px $dark-blue;
        }
    }
}

header * {
    display: inline;
}
